/region
/test
*.o
/output
*.nbt
*.obj
chunkExtractor
modelGenerator
regionFileReader
radiusGenerator
!tests/0.0.nbt
!tests/0.1.nbt
!tests/r.0.0.mca
*.log
*.mca
mtlGen
/block
!out.mtl
*.exe
*.ow
*.txt
*Check*
tests/benchmark